@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap");

.main-view {
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 10px;
}

.navbar {
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
}

Button {
  background-color: #ffbebe;
  color: #000;
  border-color: #000;
}

Button:hover,
Button:focus,
Button:active {
  background-color: #ffcece;
  color: #222;
  border-color: #000;
}
