@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap");

.profile-view {
  font-family: "Commissioner", sans-serif;
  margin-top: 18px;
}

.label {
  font-weight: 700;
}

.value {
  font-weight: 400;
}

#update-button {
  background-color: #ffbebe;
  color: #000;
  border: none;
  border-radius: 12px;
}

#update-button:hover,
#update-button:focus,
#update-button:active {
  background-color: #ffcece;
  color: #222;
}

#delete-button {
  background-color: #ffbebe;
  color: #000;
  border: none;
  border-radius: 12px;
}

#delete-button:hover,
#delete-button:focus,
#delete-button:active {
  background-color: #ffcece;
  color: #222;
}
