.LoginForm {
  margin: auto;
  min-width: 300px;
  font-family: "Commissioner", sans-serif;
  justify-content: center;
  font-weight: 700;
}

#button {
  background-color: #ffbebe;
  color: #000;
  border-color: #000;
}

#button:hover,
#button:focus,
#button:active {
  background-color: #ffcece;
  color: #222;
  border-color: #000;
}

#link {
  color: #000;
  text-decoration: underline;
}

#link:hover {
  color: #555;
  text-decoration: underline;
}
